{% extends "esqueleto.html" %}
{% block titulo %} - Control{% endblock %}
{% block scripts %}
	$(document).ready(function(){
		/*$("#theslide").prop('checked', false);*/
		{% for puerto in puertos %}
		$("#puerto{{ puerto.puertoon }}").click(function(){
			var sel=$("#puerto{{ puerto.puertoon }}").prop('checked');
			$.ajax({
				url: "/accionarControl",
				type: "POST",
				dataType: "json",
				data: {
					csrfmiddlewaretoken: "{{ csrf_token }}",
					opcionPuerto: sel,
					numeroPuerto: {{ puerto.puertoon }}
				},
				success: function(json){
					var estAct = json.estadoActual;					
					if(estAct == '0'){
						console.log("Recibido 0. Puerto: "+json.puertoActual);
						$("#puerto"+json.puertoActual).prop('checked', false);	
					}else{
						console.log("Recibido 1. Puerto: "+json.puertoActual);
						$("#puerto"+json.puertoActual).prop('checked', true);
					}
					
				},
				error: function(xhr,errmsg,err){
					alert("Error: "+xhr.status+":"+xhr.responseText);
				},
			});
			return false;
		});
		{% endfor %}
	});
{% endblock %}
{% block cuerpo %}
{% for puerto in puertos %}
<row class="row">
		<div class="small-9 columns">		
				{{ puerto.descripcion }}
		</div>
		<div class="small-9 columns" >
			<form method="post">{% csrf_token %}
				<div class="slideThree" >
	      			<input type="checkbox" value="None" id="puerto{{ puerto.puertoon }}" name="puerto{{ puerto.puertoon }}" checked />
	      			<label for="puerto{{ puerto.puertoon }}"></label>
	    		</div>
    		</form>
		</div>
	</row>
	{% endfor %}
{% endblock %}
