{% extends "esqueleto.html" %}
{% block titulo %} - Control{% endblock %}
{% block scripts %}
		/*
		{% for cfgp in cfgpuertos %}
			$("#puerto{{ cfgp.puerto }}").prop('checked', {{ cfgp.estado }});
			console.log("Cargando configuracion de puertos {{ cfgp.puerto }}, {{ cfgp.estado }}");
		{% endfor %}
		*/
		{% for puerto in puertos %}
		
		/*Javascript para los botones de encendido*/
		$("#puerto{{ puerto.puertoon }}").click(function(){
			
			$("#ajaxStatus").show();
			$.ajax({
				url: "/accionarControl/",
				type: "POST",
				dataType: "json",
				data: {
					csrfmiddlewaretoken: "{{ csrf_token }}",
					numeroPuerto: {{ puerto.puertoon }}
				},
				success: function(json){
					$("#ajaxStatus").hide();
					console.log("Puerto "+json.puertoActual+" activado");
					$("#img{{ puerto.puertoon }}{{ puerto.puertooff }}").prop('src', '/static/botonOn.png');
					$("#msgdisp{{ puerto.puertoon }}{{ puerto.puertooff }}").empty();
					$("#msgaccion{{ puerto.puertoon }}{{ puerto.puertooff }}").empty();
					$("#msgdisp{{ puerto.puertoon }}{{ puerto.puertooff }}").append("{{ puerto.descripcion }}");
					$("#msgaccion{{ puerto.puertoon }}{{ puerto.puertooff }}").append("activado/a");
			
					$("#alerta{{ puerto.puertoon }}{{ puerto.puertooff }}").show("slow");
			
					var timeout= window.setTimeout(function(){
						$("#alerta{{ puerto.puertoon }}{{ puerto.puertooff }}").hide("slow");
					}, 5000);
					
				},
				error: function(xhr,errmsg,err){
					alert("Error: "+xhr.status+":"+xhr.responseText);
				},
			});
			
			return false;
		});
		/*Javascript para los botones de apagado*/
		$("#puerto{{ puerto.puertooff }}").click(function(){
			
			
			$("#ajaxStatus").show();
			
			$.ajax({
				url: "/accionarControl/",
				type: "POST",
				dataType: "json",
				data: {
					csrfmiddlewaretoken: "{{ csrf_token }}",
					/*accionPuerto: 'desactivacion',*/
					numeroPuerto: {{ puerto.puertooff }}
				},
				success: function(json){
					$("#ajaxStatus").hide();
					console.log("Puerto "+json.puertoActual+" activado")
					$("#img{{ puerto.puertoon }}{{ puerto.puertooff }}").prop('src', '/static/botonOff.png');
					$("#msgdisp{{ puerto.puertoon }}{{ puerto.puertooff }}").empty();
					$("#msgaccion{{ puerto.puertoon }}{{ puerto.puertooff }}").empty();
					$("#msgdisp{{ puerto.puertoon }}{{ puerto.puertooff }}").append("{{ puerto.descripcion }}");
					$("#msgaccion{{ puerto.puertoon }}{{ puerto.puertooff }}").append("desactivado/a");
			
					$("#alerta{{ puerto.puertoon }}{{ puerto.puertooff }}").show("slow");
			
					var timeout= window.setTimeout(function(){
						$("#alerta{{ puerto.puertoon }}{{ puerto.puertooff }}").hide("slow");
					}, 5000);
				},
				error: function(xhr,errmsg,err){
					alert("Error: "+xhr.status+":"+xhr.responseText);
				},
			});
			return false;
		});
		{% endfor %}
{% endblock %}
{% block cuerpo %}
	{% for puerto in puertos %}
	<div id="alerta{{ puerto.puertoon }}{{ puerto.puertooff }}" data-alert class="alert-box success" style="display: none;"> 
		<span id="msgdisp{{ puerto.puertoon }}{{ puerto.puertooff }}"></span> <span id="msgaccion{{ puerto.puertoon }}{{ puerto.puertooff }}"></span>
	</div>
	
	<row class="row">
		<div class="medium-7 columns">
			<div class="descripcionSwitch">			
				<h3>{{ puerto.descripcion }}</h3>
			</div>
		</div>
		<form method="post">{% csrf_token %}
			
			<div class="medium-5 columns">
				<a id="puerto{{ puerto.puertoon }}" href="#" class="button small">ON</a>
				<a id="puerto{{ puerto.puertooff }}" href="#" class="button small">OFF</a>
				<img id="img{{ puerto.puertoon }}{{ puerto.puertooff }}" src="/static/botonOn.png" width="64" height="64"/>
				<!--<div class="slideThree">  
	      			<input type="checkbox" value="None" id="puerto{{ puerto.nropuerto }}" name="puerto{{ puerto.nropuerto }}" />
	      			<label for="puerto{{ puerto.nropuerto }}"></label>
	   			</div>-->
			</div>
		</form>
	</row>
	<hr />
	{% endfor %}
{% endblock %}
