{% extends "esqueleto.html" %}
{% block titulo %} - Usuario{% endblock %}
{% block scripts %}

{% endblock %}
{% block cuerpo %}
<div id="espacio">
</div>
<div id="contenedor">
		<div id="text1"> <h2><b>Iniciar Sesion</b></h2></div>
      			<form method="post" action="/login/" >
      			{% csrf_token %}
        			<p><input type="text" name="usuariof" value="" required="required" placeholder="Usuario" id="user"></p>
        			<p><input type="password" name="passwordf" value="" required="required" placeholder="Password" id="pass"></p>
        			<p class="submit"><input type="submit" name="commit" id="enviar" value="Login"></p>
        			<span id="msg">{{ mensaje }}</span>
      			</form>
</div>

{% endblock %}